<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrapper">
      <header>
          <!--<label for="sidebar-checkbox" class="sidebar-toggle"></label>-->

        <nav class="nav">
          <ul>
            <li>
              <a id="nav-home" href="/" title="Home">{{ site.title }}</a>
            </li>
          </ul>
        </nav>

        <ul class="icons">
          <li>
            <a href="https://twitter.com/TheHydroImpulse" title="Twitter">
              <span class='symbol'>circletwitterbird</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TheHydroImpulse" title="Github">
              <span class='symbol'>circlegithubalt</span>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/daniel-fagnan/17/807/335" title="Linkedin">
              <span class='symbol'>circlelinkedin</span>
            </a>
          </li>
          <li>
            <a href="mailto:dnfagnan@gmail.com" title="Email">
              <span class='symbol'>circleemail</span>
            </a>
          </li>
        </ul>
      </header>

      <div class="container content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
