<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="topbar"></div>
    <header>
      <div class="container">
        <nav class="nav">
          <ul>
            <li>
              <a id="nav-home" href="/" title="Home">{{ site.title }}</a>
            </li>
          </ul>
        </nav>

        <ul class="icons">
          <li>
            <a href="https://twitter.com/TheHydroImpulse" title="Twitter">
              <span class='symbol'>circletwitterbird</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TheHydroImpulse" title="Github">
              <span class='symbol'>circlegithubalt</span>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/daniel-fagnan/17/807/335" title="Linkedin">
              <span class='symbol'>circlelinkedin</span>
            </a>
          </li>
          <li>
            <a href="mailto:dnfagnan@gmail.com" title="Email">
              <span class='symbol'>circleemail</span>
            </a>
          </li>
        </ul>
      </div>
    </header>

    <div class="wrapper">
        {{ content }}
    </div>
  </body>
</html>
