<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="topbar"></div>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrapper">
      <header>
          <!--<label for="sidebar-checkbox" class="sidebar-toggle"></label>-->

        <nav class="nav">
          <ul>
            <li>
              <a id="nav-home" href="/" title="Home">{{ site.title }}</a>
            </li>
          </ul>
        </nav>

        <ul class="icons">
          <li>
            <a href="https://twitter.com/TheHydroImpulse" title="Twitter">
              <span class='symbol'>circletwitterbird</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/TheHydroImpulse" title="Github">
              <span class='symbol'>circlegithubalt</span>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/daniel-fagnan/17/807/335" title="Linkedin">
              <span class='symbol'>circlelinkedin</span>
            </a>
          </li>
          <li>
            <a href="mailto:dnfagnan@gmail.com" title="Email">
              <span class='symbol'>circleemail</span>
            </a>
          </li>
        </ul>
      </header>

      <div class="container content">
        {{ content }}

        <div class="mailinglist">
          <div id="mc_embed_signup">
          <form action="http://hydrocodedesign.us8.list-manage2.com/subscribe/post?u=bef64187da16f647e609951f0&amp;id=d40e25a6fe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL">Subscribe to be notified when new articles are written</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_bef64187da16f647e609951f0_d40e25a6fe" tabindex="-1" value=""></div>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
          </div>

          <!--End mc_embed_signup-->
          </div>
      </div>
    </div>

  </body>
</html>
